# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
backend/dist/
backend/.env
app/build/
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies

# Environment files
.env
*.env.local

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Flutter
app/.packages
app/pubspec.lock

# Firebase
app/android/app/google-services.json
